.debug .container {
  border: 1px solid blue;
}

.debug .row {
  border: 1px solid green;
}

.debug [class*=col-] {
  border: 1px solid red;
}

/* Basic Rules */
body {
  margin-top: 80px;
  font-family: Roboto,Verdana;
  color: #0a2253;
}

a {
  color: #0a2253;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

li {
  margin: 0 5px;
}
/* End Basic Rules */

/* Generic Rules */
.cre_absolute {
  position: absolute;
}

.cre_relative {
  position: relative;
}

.cre_white-text {
  color: white;
}

.cre_blue-text {
  color: #006aff;
}

.cre_lightblue-text {
  color: #096fff;
}

.cre_grey-text {
  color: #64718e;
}

.cre_title p {
  font-size: 22px;
  font-weight: 500;
  color: #5c6a88;
  padding: 5px 0;
}

.cre_skyblue-text {
  color: #00d0d1;
}
/* End Generic Rules */

/* Buttons */
.cre_btn-account {
  background-color: white;
  color: #016bff;
  border: 1px solid #016bff;
  border-radius: 5px;
  padding: 8px 13px;
}

.cre_btn-create {
  background-color: #579aff;
  color: white;
  border-radius: 5px;
  padding: 8px 13px;
  display: block;
}

.cre_btn-google {
  background-color: white;
  color: #6d6d6d;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 8px 13px;
  display: block;
  margin: 10px 0;
}

.cre_btn-google img {
  position: absolute;
  left: 10px;
  height: 20px;
}
/* End Buttons */

/* Navbar */
.cre_navbar {
  height: 80px;
  background-color: white;
  line-height: 80px;
}

.cre_navbar .logo {
  height: 30px;
}

.cre_burgernav {
  font-size: 30px;
}

.cre_jumbotron {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.cre_jumbotron h1 {
  font-size: 65px;
}

.cre_jumbotron p {
  font-size: 23px;
}

.cre_getstarted {
  padding: 35px 25px;
  background-color: white;
  border-radius: 5px;
}

.cre_getstarted-text p {
  font-weight: bold;
  font-size: 30px;
}

/* Form */
.form-group {
  margin-bottom: 0;
}

.form-control {
  border: 1px solid #f0f0f0;
  height: 50px;
  margin: 10px 0;
  padding: 5px;
}

.form-control::placeholder {
  font-size: 18px;
  color: #757575;
}

label {
  display: none;
}
/* End Form */

/* Customers */
.cre_customers {
  padding: 40px 0;
}

.cre_customers .container .row [class*=col-] {
  line-height: 132px;
}

.cre_customers img {
  width: 100%;
}
/* End Customers */

/* Deploy */
.cre_deploy-wrapper {
  padding: 20px;
}

.cre_deploy-list {
  margin-top: 20px;
  border-left: 1px solid #76819b;
  margin-bottom: 40px;
}

.cre_deploy-list li {
  font-size: 20px;
  padding: 10px;
  color: #76819b;
}

.cre_deploy-item {
  padding-top: 20px;
  min-height: 180px;
}

.cre_deploy-item p {
  color: #5e6b89;
}

.cre_viewer {
  padding: 30px;
}

.cre_viewer img {
  width: 60%;
}

.cre_viewer i {
  font-size: 40px;
  padding: 10px;
  vertical-align: middle;
}

.cre_slider i {
  font-size: 15px;
  padding: 5px;
}

.cre_features {
  padding: 100px 0 25px;
}

.cre_features-item {
  padding: 25px 15px;
}

.cre_features-item p {
  color: #5e6b89;
}

.cre_speedtest {
  background: linear-gradient(to bottom, #0048c5 0%, #001e99 100%);
  color: white;
  padding: 50px 0;
}

.cre_row-bordered {
  padding-top: 10px;
  border-bottom: 1px solid white;
  margin: 0 5px;
}



/* Media Queries */
@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  .cre_customers .container .row [class*=col-]{
    line-height: 250px;
  }

  .cre_customers img {
    max-width: 300px;
  }

  .cre_viewer > a {
    display: none;
  }

  .cre_speedtest .container > .row > [class*=col-]:nth-child(2) {
    padding-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .cre_customers .container .row [class*=col-]{
    line-height: 200px;
  }

  .cre_customers img {
    max-width: 240px;

  }

  .cre_viewer img {
    width: 80%;
  }

  .cre_speedtest {
    font-size: 11px;
  }
}

@media screen and (max-width: 360px) {
  .cre_jumbotron h1 {
    font-size: 35px;
  }

  .cre_viewer img {
    width: 100%;
  }

  .cre_speedtest {
    font-size: 10px;
  }
}
